/* src/pages/Home.css */

.astrologer-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Added gap between cards */
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .pagination {
        font-size: 0.875rem; /* Smaller font size on smaller screens */
    }

    .pagination button {
        padding: 8px 16px;
    }
}

/* src/pages/Home.css */

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background for filter section */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.filter-container input {
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-container input::placeholder {
    color: #aaa;
}

