body {
  margin: 0;
  font-family: 'Arial', sans-serif; 
  background-color: #A1BE95; 
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #A1BE95; 
  color: white;
  padding: 10px 20px;
  text-align: center;
}

footer {
  background-color: #A1BE95; 
  color: white;
  padding: 10px 20px;
  text-align: center;
}
